// typo
$font-family-primary: Nunito Sans;

$browser-context: 16;

// colors
$black: #000000;
$white: #ffffff;

$purple: #803e9d;
$purple-dark: #141725;
$purple-light: #4d465f;
$purple-blue: #0e101e;
$grey: #cccccc;
$grey-dark: #222222;
$gold: #ffd700;
$blue: #00bcd4;
$green: #1ed092;
